.example-tel-input-container {
    display: flex;
  }

  .example-tel-input-element {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
  }

  .example-tel-input-spacer {
    opacity: 0;
    transition: opacity 200ms;
  }
  .form-margin{
    margin-left: 1px;
  }

  :host.example-floating .example-tel-input-spacer {
    opacity: 1;
  }
  .main {
    display: flex; /* or inline-flex */
    justify-content: space-evenly;
    align-content: flex-start;
    position: relative;
  }
  .child-table {
    width: 70%;
    background: rgb(236, 186, 140);

  }

  .form-background{
   background-color:rgb(236, 186, 140);
}

.form-margin{
  margin-left:5%;
}
.mat-font-size{
  font-size: 12px;
}
.title{
  margin-left:2.5%;
  font-size: 2rem;
  text-align: left;
  color: aliceblue;
}

/* SOBRESCREVE CSS ANGULAR MATERIAL  */
:host /deep/ .mat-header-cell{
  font-size: 18px;
  font-weight: bold;
}
:host /deep/ .mat-cell{
  font-size: 11px;
}
