<div class="form-background">
  <div class="form-margin">
    <div class="title">FORMULARIO</div>
    <div class="main">
      <!------------------FORMULÁRIO-------------------------->
      <div>
      <form method="post" [formGroup]="formDados">
        <!--NOME-->
        <div>
          <mat-form-field>
            <input matInput placeholder="Nome Completo" formControlName="nome" required>
            <mat-error>{{getErrorMessageNome()}}</mat-error>
            <mat-hint>Digite seu nome completo</mat-hint>
          </mat-form-field>
        </div>
        <!--IDADE-->
        <div>
          <mat-form-field>
            <input matInput placeholder="Idade" formControlName="idade" type="number" required>
            <mat-hint>O campo é obrigatório</mat-hint>
            <!----mat-hint>Apenas números</mat-hint-->
          </mat-form-field>
        </div>
        <!--CPF-->
        <div>
          <mat-form-field>
            <input matInput placeholder="Digite seu CPF" formControlName="cpf" type="text" maxlength="11" required>
            <mat-error>{{getErrorMessageCpf()}}</mat-error>
            <mat-hint>Sem espaços e traços</mat-hint>
          </mat-form-field>
        </div>
        <!--TELEFONE-->
        <div class="example-tel-input-container">
          <mat-form-field>
            <input matInput class="example-tel-input-element" placeholder="Numero do telefone"
              formControlName="telefone" type="text" maxlength="12" required>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error>{{getErrorMessageTelefone()}}</mat-error>
            <mat-hint>Inclua a o codigo de area</mat-hint>
          </mat-form-field>
        </div>
        <!--EMAIL-->
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Digite seu email" formControlName="email" required>
            <mat-error>{{getErrorMessageEmail()}}</mat-error>
          </mat-form-field>
        </div>
        <!--RUA-->
        <div class="example-container">
          <mat-form-field>
            <input matInput class="example-tel-input-element" placeholder="Rua" type="text" formControlName="rua"
              required>
            <mat-error>{{getErrorMessageRua()}}</mat-error>
          </mat-form-field>
        </div>
        <!--CIDADE-->
        <div class="example-container">
          <mat-form-field>
            <input matInput class="example-tel-input-element" placeholder="Cidade" type="text" formControlName="cidade"
              required>
            <mat-error>{{getErrorMessageCidade()}}</mat-error>
          </mat-form-field>
        </div>
        <!--ESTADO-->
        <div class="example-container">
          <mat-form-field>
            <input matInput class="example-tel-input-element" placeholder="UF" type="text" formControlName="estado"
              type="text" maxlength="3" required>
            <mat-error>{{getErrorMessageEstado()}}</mat-error>
          </mat-form-field>
        </div>
        <!--BOTOES-->
        <div class="example-button-row">
           <button mat-raised-button [disabled]="!formDados.valid" (click)="saveData()">SALVAR</button>
           <button mat-raised-button [disabled]="!formDados.valid" (click)="sendData()">POST</button>
           <button mat-raised-button (click)="cleanData()">LIMPAR CAMPOS</button>
           <button mat-raised-button (click)="updateProfile()">PREENCHE</button>
           <!-- BOTAO UPLOAD FILE -->
           <!-- <input type=text (keyup)="onFileSelected($event)">
           <button (click)="onUpload()"> novo botao</button> -->
        </div>
      </form>
    </div>

      <mat-table [dataSource]="dataSource" class="child-table">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.nome}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="idade">
            <mat-header-cell *matHeaderCellDef> Idade </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.idade}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="cpf">
            <mat-header-cell *matHeaderCellDef> CPF </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.cpf}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="telefone">
            <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.telefone}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> E-Mail </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="rua">
            <mat-header-cell *matHeaderCellDef> Rua </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.rua}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="cidade">
            <mat-header-cell *matHeaderCellDef> Cidade </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.cidade}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.estado}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
